openapi: 3.0.3
info:
  title: Distance Between Two Coordinates API
  description: |
    This API calculates the surface (great-circle) distance between two geographic coordinates.
  version: 1.0.0

servers:
  - url: https://geo-calculation-toolkit-api.p.rapidapi.com

paths:
  /distance/between-coordinates:
    post:
      summary: Calculate distance between two coordinates
      description: Returns the shortest surface distance between two geographic coordinates.
      tags:
        - Distance
      parameters:
        - in: query
          name: unit
          required: false
          schema:
            type: string
            enum: [ mm, m, km, ft, yd, mi ]
            default: m
          description: Distance unit (defaults to meters)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fromCoordinate
                - toCoordinate
              properties:
                fromCoordinate:
                  type: object
                  required: [ lat, lng ]
                  properties:
                    lat:
                      type: number
                      format: double
                      description: Latitude of the starting point
                    lng:
                      type: number
                      format: double
                      description: Longitude of the starting point
                toCoordinate:
                  type: object
                  required: [ lat, lng ]
                  properties:
                    lat:
                      type: number
                      format: double
                      description: Latitude of the destination point
                    lng:
                      type: number
                      format: double
                      description: Longitude of the destination point
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required: [ success, data ]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    required: [ distance, unit ]
                    properties:
                      distance:
                        type: number
                        format: double
                        example: 31.4989
                        description: Distance between coordinates
                      unit:
                        type: string
                        example: m
                        description: Unit of measurement
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                required: [ success, code, message, detailMessage ]
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: string
                    example: REQUIRED_PARAMETER_MISSING
                  message:
                    type: string
                    example: Required parameter is missing.
                  detailMessage:
                    type: string
                    example: Required parameter is missing. (fromCoordinate)
      security:
        - rapidapi_auth: [ ]

components:
  securitySchemes:
    rapidapi_auth:
      type: apiKey
      in: header
      name: X-RapidAPI-Key

  headers:
    Content-Type:
      schema:
        type: string
        example: application/json
      description: MIME type of the response body
